<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>TapServe Web Application</display-name>
	<servlet>
		<servlet-name>UserInfoServlet</servlet-name>
		<display-name>UserInfoServlet</display-name>
		<servlet-class>edu.tcd.tapserve.client.UserInfoServlet</servlet-class>
		<init-param>
			<param-name>service_hostname</param-name>
			<param-value>localhost</param-value>
		</init-param>
		<init-param>
			<param-name>service_port</param-name>
			<param-value>8083</param-value>
		</init-param>
		<init-param>
			<param-name>app_context</param-name>
			<param-value>tapserve</param-value>
		</init-param>
		<init-param>
			<param-name>user_info_service</param-name>
			<param-value>userInfo</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserInfoServlet</servlet-name>
		<url-pattern>/secured/UserInfoServlet</url-pattern>
	</servlet-mapping>

	<!-- <welcome-file-list>
		<welcome-file>/pages/secured/UserLanding.html</welcome-file>
	</welcome-file-list> -->
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Wildcard means whole app requires authentication</web-resource-name>
			<url-pattern>/pages/secured/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>ADMIN</role-name>
			<role-name>USER</role-name>
			<role-name>SERVICE_PROVIDER</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>secureDomain</realm-name>
		<form-login-config>
			<form-login-page>/index.html</form-login-page>
			<form-error-page>/pages/login_failed.jsp</form-error-page>
		</form-login-config>
	</login-config>

</web-app>


